{% extends "base.html" %}
{% block content %}
<h1>Kaikki arvostelut listana</h1>
(tämä vain koska harjoitustyössä täysi CRUD-vaatimus :) )<br><br>

{{reviews.review}}
 {% for review in reviews %}
 		  <b>Bändi: </b> {{review.bandname}}<br>
          <b>Arvosana: {{review.stars}}</b><br>
          <p><b>Arvio:</b> {{review.review}}</p>
          {% if isloggedin %}
          <form method="post" action="{{base_path}}/review/{{review.reviewid}}/destroy" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form>
          	{% endif %}
<br><br>
      {% endfor %}

{% endblock %}