{% extends "base.html" %}
{% block content %}
<h1>Bändirekisteri</h1>
  {% if isloggedin == false %}
<p>
  <a href="{{base_path}}/login">Kirjaudu sisään</a>
</p>
  {% endif %}
  {% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Genre</th>
        <th>Arvosana</th>
        {% if isloggedin %}
        <th>Muokkaa</th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for band in bands %}
        <tr>
          <td><a href="{{base_path}}/band/{{band.bandid}}">{{band.bandname}}</td>
          <td>{{band.genre}}</td>
          <td>{{band.stars}}</td>
          {% if isloggedin %}
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/band/{{band.bandid}}/edit">Muokkaa</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% if isloggedin %}
   <p>
    <a href="{{base_path}}/band/new" class="btn btn-success">Lisää uusi bändi</a>
  </p>
  {% endif %}
{% endblock %}