{% extends "base.html" %}
{% block content %}
  <h1>Bändirekisteri</h1>

<div class="alert alert-success">
  {{message}}
</div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kuvaus</th>
        <th>Arvosana</th>
        <th>Arvostele</th>
      </tr>
    </thead>

    <tbody>
      {% for band in bands %}
        <tr>
          <td><a href="{{base_path}}/band/{{band.bandid}}">{{band.bandname}}</td>
          <td>{{band.description}}</td>
          <td>&#9734;&#9734;&#9734;&#9734;</td>
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/game/{{band.bandid}}/edit">Arvostele</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

   <p>
    <a href="{{base_path}}/band/new" class="btn btn-success">Lisää uusi bändi</a>
  </p>
{% endblock %}